.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
}
.title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
    opacity: 0.9;
    font-size: 28px;
}
.item{
    width: 325px;
    padding: 10px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
}
.todo{
    color: #000;
    width: 180px;
    font-size: 18px;
}
.switch{
    font-size: 12px;
/*    自带属性*/
    texton-color: green;
    textoff-color:red;
    text-padding: 5px;
    width: 100px;
    height: 24px;
    allow-scale: false;
}
.remove {
    font-size: 12px;
    margin-left: 10px;
    width: 50px;
    height: 22px;
    color: #fff;
    background-color: red;
}
.info{
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.info-text {
    font-size: 18px;
    color: #AD7A1B;
}
.info-num{
    color: orangered;
    margin-left: 10px;
    margin-right: 10px;
}
.add-todo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ddd;
}

.plan-input {
    width: 240px;
    height: 40px;
    background-color: #fff;
}
.plan-btn {
    width: 90px;
    height: 35px;
    font-size: 15px;
}

@media screen and (device-type: phone)  {
    .title {
        font-size: 28px;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("../../common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .title {
        font-size: 40px;
        color: #FFFFFF;
    }
    .item{
        width: 600px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;
    }
    .todo{
        color: #fff;
        width: 400px;
        font-size: 21px;
    }
    .info-text {
        font-size: 21px;
    }
    .add-todo {
        justify-content: center;
        background-color: #333;
    }
    .plan-input {
        width: 320px;
        margin-right: 30px;
    }
    .plan-btn {
        width: 120px;
        height: 40px;
        background-color: #007cba;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #FFFFFF;
    }
    .item{
        width: 180px;
        padding: 5px 0;
        border-bottom: 1px solid #333;
    }
    .todo{
        color: #fff;
        width: 80px;
        font-size: 10px;
    }
    .switch{
        font-size: 8px;
        text-padding: 5px;
        width: 70px;
        height: 24px;
    }
    .remove {
        font-size: 8px;
        margin-left: 2px;
        width: 30px;
        height: 20px;
        background-color: #fff;
        text-color: red;
    }
    .info-text {
        font-size: 10px;
    }
    .add-todo {
        height: 40px;
        padding-top: 5px;
        align-items: flex-start;
        justify-content: center;
        background-color: #333;
    }
    .plan-input {
        width:80px;
        height: 20px;
        margin-right: 4px;
    }
    .plan-btn {
        width: 40px;
        height: 20px;
        font-size: 7px;
    }
}